<body class="creditos">
    <header>
        <div>
        <img src="../images/logo.png" alt="logo">
        </div> 
    </header>

    <main>
        <section>
            <div class="contenedor">
                <img src="../images/tute.jpg" alt="logo">
                <P>TUTE</P>
            </div>

            <div class="contenedor">
                <img src="../images/ciro.jpg" alt="logo">
                <p>CIRO</p>
            </div>

            <div class="contenedor">
                <img src="../images/chechu.jpg" alt="logo">
                <P>CHECHU</P>
            </div>
        </section>

    </main>



</body>