@{
    ViewData["Title"] = "Habitacion1";
    <link rel="stylesheet" href="wwwroot/site.css">
}

<body class="Hab1">
        

    <header>
        <div>
        <img src="../images/logo.png" alt="logo">
        </div> 
    </header>
    
    <section class="imagenFondoHab1"> </section>

    <main>
        



    </main>
    
</body>