<body class="Hab4">

    <header>
        <div>
            <h1>PATIO</h1>
            <h3>Uno de estos elementos te servirá para escapar.</h3 >
        </div> 
    </header>

    @if (ViewBag.ObjetoEncontrado == false)
    {
        <a href="@Url.Action("ObjetoEncontrado")"><img src="../images/cuerda.png" alt=""></a>     
    }
    else
    {
        <h2>¡Cuerda encontrada!</h2>
        <form action="@Url.Action("Escalar")" method="get">
            <button type="input"></button> 
        </form>
    }

    @if (ViewBag.Escalar == true)
    {
        <div class="contenedor-ventana">
            <div class="ventana">
                <p>"Soy lo que todos buscan pero pocos encuentran,
                    sin mí, estarás atrapado para siempre.
                    ¿Qué soy?"</p>
            </div>
        </div>
    }
    

    <form class="envio" action="@Url.Action("Habitacion")">
        <input type="hidden" name="sala" value="4" />
        <input type="text" name="clave"  placeholder="Respuesta...">
        <input type="submit" value="Validar">
    </form>
    <div><h2>@Html.Raw(ViewBag.Error)</h2></div>

</body>