<body class="Hab3">
    
    <header>
        <div>
            <h1>COMEDOR</h1>
            <h3>Una herramienta oculta te ayudará a escapar.</h3 >
        </div> 
    </header>

    @if (ViewBag.RompioVidrio == true)
    {   
        <div class="contenedor-ventana">
            <div class="ventana">
                <h1>"PATIO"</h1>
            </div>
        </div>
    }


    @if (ViewBag.ObjetoEncontrado == false)
    {
        <a href="@Url.Action("ObjetoEncontrado")"><img src="../images/martillo.png" alt=""></a>     
    }
    else
    {
        <h2>¡Martillo encontrado!</h2>

        <form action="@Url.Action("RomperVidrio")" method="get">
            <button type="input"></button> 
        </form>
    }
    
    
    @if (ViewBag.RompioVidrio == true)
    {
        <div class="vidrio">
            <img src="../images/roto.png" alt="">
        </div>
    }

   


    <form class="envio" action="@Url.Action("Habitacion")">
        <input type="hidden" name="sala" value="3" />
        <input type="text" name="clave"  placeholder="Respuesta...">
        <input type="submit" value="Validar">
    </form>
    <div><h2>@Html.Raw(ViewBag.Error)</h2></div>



</body>