@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>CELDA 13</h1>

</div>  


<div>
    <h2> <a href='@Url.Action("Habitacion", "HomeController", new{sala = 1})'>JUGAR</a> </h2>
</div>  

<div>
    <h2> <a href='@Url.Action("Tutorial", "HomeController")'>TUTORIAL</a> </h2>
</div>  