@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="wwwroot/site.css">
}


<header>
    <div>
    <img src="../images/logo.png" alt="logo">
    </div> 
</header>
 
 <section class="imagenFondo"> </section>

<main>
    <section class="index">
        <div>
            <h2> <a href='@Url.Action("Habitacion", "HomeController", new{sala = 1})'>JUGAR</a> </h2>
        </div>  

        <div>
            <h2> <a href='@Url.Action("Tutorial", "HomeController")'>TUTORIAL</a> </h2>
        </div>  
    </section>
</main>