@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="wwwroot/site.css">
}

<body>
        

    <header>
        <div>
        <img src="../images/logo.png" alt="logo">
        </div> 
    </header>
    
    <section class="imagenFondo"> </section>

    <main>
        <section class="index">
            <div>
                <h2> <a href='@Url.Action("Comenzar")'>JUGAR</a> </h2>
            </div>  

            <div>
                <h2> <a href='@Url.Action("Tutorial")'>TUTORIAL</a> </h2>
            </div>  
        </section>


        <section class="imgDescripcion">
            <div>
                <img src="../images/celda.jfif" alt="">
                <img src="../images/duchas.jfif" alt="">
            </div>

            <div class="abajo">
                <img src="../images/comedor.jpg" alt="">
            </div>
            
            
        </section>


    </main>
    
</body>