@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="wwwroot/site.css">
}

<body class="index">
        

    <header>
        <div>
        <img src="../images/logo.png" alt="logo">
        </div> 
    </header>
    

    <main>
        <section class="index">
            <div>
                <h2> <a href='@Url.Action("Comenzar")'>JUGAR</a> </h2>
            </div>  

            <div>
                <h2> <a href='@Url.Action("Tutorial")'>TUTORIAL</a> </h2>
            </div>  

            <div>
                <h2> <a href='@Url.Action("Creditos")'>CREDITOS</a> </h2>
            </div>  
        </section>


        <section class="imgDescripcion">
            <div>
                <img src="../images/celdaa.jpg" alt="">
                <img src="../images/baño.jpg" alt="">
            </div>

            <div class="abajo">
                <img src="../images/comedor.jpg" alt="">
            </div>
            
            
        </section>


    </main>
    
</body>