<body class="victoria">
    <header> 
        <h1>¡FELICIDADES, LOGRASTE ESCAPAR!</h1>
    </header>
    
    <main> 
        <h2><a href='@Url.Action("Index")'>VOLVER AL INICIO</a></h2>
    </main>

</body>