html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
}

body{
  background-image: url(../images/fondoIndex.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.index div{
  display: flex;
  justify-content: center;
}
.index a{
  font-style: none;
  font-style: normal;
  color: white;
}

.imgDescripcion{
  display: flex;
  flex-direction: column;
}

.imgDescripcion img{
  width: 25%;
  height: 300px;
}

.imgDescripcion img{
  float:left;
  margin-right: 3%;
  filter: brightness(0.7);
}
.imgDescripcion .abajo{
  clear: both;
  margin-top: 3%;

}

footer{
  clear: both;
  margin-top: 10%;
}