html {
  font-size: 14px;
  min-height: 100%;
}

footer{
  opacity: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
}

body{
  background-image: url(../images/fondoIndex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.index div{
  display: flex;
  justify-content: center;
}
.index a{
  text-decoration: none;
  color: white;
}
.index a:hover{
  text-decoration: underline;
}

.imgDescripcion{
  display: flex;
  flex-direction: column;
}

.imgDescripcion img{
  width: 25%;
  height: 300px;
}

.imgDescripcion img{
  float:left;
  margin-right: 3%;
  filter: brightness(0.7);
}
.imgDescripcion .abajo{
  clear: both;
  margin-top: 3%;

}

footer{
  clear: both;
  margin-top: 10%;
}




/*    HABITACION 1     */ 

.Hab1{
  background-image: url(../images/celdaa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; 
  position: relative; 

}



.Hab1, .Hab2 , .Hab3, .Hab4 header{
  color: white;
  text-align: center;
}
.Hab1 p{
  text-align: justify;
}

.Hab1 button{
  position: absolute;
  width: 6%;
  height: 6%;
  left: 47%;
  top: 40%;
  opacity: 0; 
}

.Hab1 button:hover{
  opacity: 0.02;
}

.Hab1 p{
  width: 60%;
  color: white;
  font-size: larger;
  font-style: italic;
}

.envio {
  margin-top: 4%;
  display: flex;
  justify-content: center;
}
.envio input[type="text"]{
  margin-right: 1%;
  border: 2px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}
.envio input[type="submit"]{
  background-color: #007bff;
  border: none;
  border-radius: 4px;
}

h2{
  display: flex;
  justify-content: center;
  color: red;
}

/*   HABITACION 2    */
.Hab2{
  background-image: url(../images/baño.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; 
  position: relative; 
}


.botones button{
  position: absolute;
  width: 0;
  height: 6.5%;
  opacity: 0;
  background-color:cyan;
  border-radius: 1px;
}
.Hab2 button:hover{
  opacity: 0.2;
}

.boton1 {
  top: 75%;
  left: 31.5%;
}

.boton2{
  top: 67%;
  left: 35%;
}

.boton3{
  top: 60%;
  left: 38%;
}

.boton4{
  top: 55%;
  left: 39.5%;
}


.contenedor-ventana{
  height: 100%;
  display: flex;
  justify-content: center;
}

.ventana{
  position: relative;
  display:flex;
  justify-content: center;
  border-radius: 5px;
  width: 30%;
  background-color: beige;
  box-sizing: border-box;

} 
.ventana h1{
  color: black;
  margin-right: 2%;
}
.ventana button{
  position: absolute;

  width: auto;
  height: auto;

  right: 0;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  opacity: 1;

}


/*    ------------------ HABITACION 3 ---------------------   */
.Hab3{
  background-image: url(../images/comedor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; 
  position: relative; 
}

.Hab3 img{
  position: absolute;
  width: 3%;
  height: auto;

  left: 23%;
  top: 48%;
}

.Hab3 h3{
  display: flex;
  justify-content: center;
}

.vidrio img{
  position: absolute;
  top: 13%;
  left: 73%;
  width: 10%;
}

.Hab3 button{
  background-color: black;
  border: none;
  position: absolute;
  width: 20%;
  height: 15%;
  left: 70%;
  top: 15%;
  opacity: 0;
}
.Hab3 button:hover{
  opacity: 0.04;
}

.Hab3 h2{
  color: black;
}



/*  - -- - - HABITACION 4- -- -- - */
.Hab4{
  background-image: url(../images/patio.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; 
  position: relative; 
}
.Hab4 header{
  color: white; /* Prueba con naranja */
  text-shadow: 2px 2px 4px #000000; /* Sombra de texto */
}

.Hab4 img{
  width: 5%;
  position: absolute;
  top: 61%;
  left: 42%;
  filter: blur(1px);
}
.Hab4 h2{
  color: white;
  text-align: center;
}

.Hab4 button{
  position: absolute;
  width: 15%;
  height: 60%;
  left: 8%;
  top: 0;
  opacity: 0;
}
.Hab4 button:hover{
  opacity: 0.04;
}
.Hab4 p{
  color: black;
  text-align: center;
}
.Hab4 div h2{
  color: red;
}
.Hab3 div h2{
  color: red;
}


/* -----------VITORIA----------*/
.victoria{
  background-image: url(../images/victoria.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh; 
  position: relative; 
}
.victoria{
  display: flex;
  justify-content: center;
}

.victoria h1{
  color: rgb(0, 88, 0);
  display: flex;
  justify-content: center;
}
.victoria h2{
  display: flex;
  justify-content: center;
  margin-top: 30%;
}

.victoria a{

  text-decoration: none;
  color: white;
}
.victoria a:hover{
  text-decoration: underline;
}


/*---------- Tutorial --------*/
.tutorial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  text-align: center;
}

.tutorial header div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tutorial main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.tutorial main img {
  width: 70%;
  height: auto;
}

.tutorial p {
  color: white;
  width: 60%;
  font-size: larger;
}